* {
  margin: 0;
  padding: 0;
  font-family: calibri light;
}
body {
  min-width: 1480px;
  max-width: 1480px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
}
h3 {
  color: #000;
  font-size: 24px;
}
div.header {
  float:left;
  margin-bottom: 10px;
  margin-right: 10px;
  border-bottom: 8px solid #4D621B;
  height: auto;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  clear:none;
}
div.header h1 {
  font-family: arial;
  padding:0;
  font-weight: bolder;
  font-size: 64px;
  line-height: 50px;
  vertical-align: top;
  display: block;
  color: #4D621B;
  letter-spacing: -3px;
  text-shadow: 3px 3px 3px #666;
}
div.header h2 {
  color: #F0E184;
  font-size: 38px;
  font-style: italic;
  font-weight: bolder;
  padding: 0 0 5px;
  margin: 0;
  text-shadow: 1px 2px 2px #666;
}
div.header img {
  float:left;
  width:100px;
  border-style:none;
  margin-top:16px;
  margin-right:16px;
  margin-bottom: 24px;
}
div.content {
  width: 960px;
  margin-left: 300px;
  margin-top: 200px;
  margin-right:auto;
}
table.selection tr,
table.selection td {
  padding: 30px;
  text-align: center; 
}
table.selection a:active,
table.selection a:hover,
table.selection a:link,
table.selection a:visited {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
table.selection img {
  height: 200px;
}
table.field-select {
  width: 100%;
}
table.field-select td {
  width: 33%;
}
div.footer_info {
  width:100%;
  float:center;
  text-align: center;
  margin-top:50px;
  text-decoration: none;
}
div.footer_info img {
  width:240px;
  margin-top:40px;
}
.clear {
  clear: both;
}
div.menu {
  height:300px;
  width:200px;
  float: left;
  margin-top: 100px;
  padding:5px; 
}
div.menu li {
  width: 100%;
}
div.menu,
div.menu ul,
div.menu li div.menu a {
  list-style: none;
  margin: 0;
  font-size: 24px;
}
div.menu table,
div.menu img {
  background: #a7bc7a;
  float: right;
  vertical-align: middle;
}
div.menu ul {
  zoom: 1;
}
div.menu ul:before {
  content: '';
  display: block;
}
div.menu ul:after {
  content: '';
  display: table;
  clear: both;
}
div.menu li {
  float: left;
  background: #4D621B;
}
div.menu li:hover {
  background: #2E3B10;
}
div.menu a,
div.menu a:link,
div.menu a:visited,
div.menu a:hover {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #fff;
}

form.submission-form {
  text-align: center;
  margin:10px auto;
  max-width: 600px;
  padding: 20px;
  font-family: calibri light;
}
form.submission-form h1 {
  color: #000;
  font-size: 36px;
}
form.submission-form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
form.submission-form label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  color: #000;
  font-size: 18px;
}
form.submission-form input[type=text], 
form.submission-form input[type=datetime],
form.submission-form input[type=number],
form.submission-form input[type=email],
textarea, 
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  background-color:#EDEDED;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.40s ease-in-out;
  -moz-transition: all 0.40s ease-in-out;
  -ms-transition: all 0.40s ease-in-out;
  -o-transition: all 0.40s ease-in-out;
  outline: none;  
}
form.submission-form input[type=text]:focus, 
form.submission-form input[type=datetime]:focus,
form.submission-form input[type=number]:focus,
form.submission-form input[type=email]:focus,
form.submission-form textarea:focus, 
form.submission-form select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
form.submission-form .field-divided{
  width: 50%;
}
form.submission-form .field-long,
form.submission-form .field-select{
  width: 100%;
}
form.submission-form .field-textarea{
  height: 100px;
}
form.submission-form input[type=submit],
form.submission-form input[type=reset],
form.submission-form input[type=button]{
  background: #4D621B;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
form.submission-form input[type=submit]:hover,
form.submission-form input[type=reset]:hover,
form.submission-form input[type=button]:hover{
  background: #2E3B10;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
form.submission-form .required{
  color:red;
}
.error {
  border:2px solid red;
}
/*
footer {
  margin:50px auto 0;
  background: #243B2A;
  padding: 10px;
  text-align: center;
}

footer p {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
}

footer p, footer p a {
  color: #539765;
  border-bottom-color: #539765;
}*/